{% extends 'base.html' %}

{% block title %}
Новый курс
{% endblock %}

{% block content %}
<h1>Новый курс</h1>
{% if form.errors %}
    <ul class="errors">
        {% for field_name, field_errors in form.errors|dictsort if field_errors %}
            {% for error in field_errors %}
                <li>{{ form[field_name].label }}: {{ error }}</li>
            {% endfor %}
        {% endfor %}
    </ul>
{% endif %}
<form action="{{ url_for('create_course') }}" method="POST">
    {{ form.csrf_token }}
    <div>
        {{ form.name.label }}
        {{ form.name() }}
    </div>
    <div>
        {{ form.description.label }}
        {{ form.description() }}
    </div>
    <div>
        {{ form.cover.label }}
        {{ form.cover() }}
    </div>
    <div>
        {{ form.is_new() }}
        {{ form.is_new.label }}
    </div>
    <div>
        {{ form.date_start.label }}
        {{ form.date_start() }}
    </div>
    <div>
        {{ form.date_end.label }}
        {{ form.date_end() }}
    </div>
    <div>
        <button type="submit">Добавить</button>
    </div>
</form>
{% endblock %}
